*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



#logo{
opacity:0.4;
 width: 25vw;
height: 10vw;

}
form{
    border: 1px solid gray;
}
main{
  display:flex;
  justify-content: center;
}

.mint-icons{
    display:flex;
    justify-content: center;
}
.icons{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    display: flex;
    justify-content: center;
}